<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Curso de Fazer Temaki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Curso de Fazer Temaki</h2>
    <p>Aprenda passo a passo como fazer deliciosos temakis!</p>

    <h3>Passos:</h3>
    <ion-list>
      <ion-item>
        <ion-label>1. Preparar os ingredientes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2. Preparar o arroz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3. Cortar os ingredientes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>4. Montar o temaki</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5. Servir e degustar!</ion-label>
      </ion-item>
    </ion-list>

    <h3>Ingredientes:</h3>
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>Alga Nori</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>Arroz para sushi</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>Peixe (salmão, atum, etc.)</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>Legumes (pepino, abacate, etc.)</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>Molho de soja e wasabi</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>