ion-title{
    font-size: 25px;
    margin: 35px;
    margin-left: 0px;
}
.input-email{
    margin: 15px;
    margin-left:50px;
}
.input-senha{
    margin: 15px;
    margin-left:50px;
}
.input-conf-senha{
    margin: 15px;
    margin-left:50px;
}
.button-cad{
    margin-left:101px;
}
.button-entrar{
    margin-top:50px;
    margin-left:85px;
}
ion-menu-button{
    margin-right: 290px;
}
