<ion-header>
  <ion-toolbar>

    <ion-avatar>
      <img class="avatar" alt="Foto do usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <ion-title class="usernameSalute">Olá, Username </ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="main">

  <ion-segment class="foodType" value="buttons">

    <ion-segment-button value="receitas">
      <ion-label class="foodType">Receitas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="japonesa">
      <ion-label class="foodType">japonesa</ion-label>
    </ion-segment-button>

    <ion-segment-button value="brasileira">
      <ion-label class="foodType">Brasileira</ion-label>
    </ion-segment-button>

    <ion-segment-button value="doces">
      <ion-label class="foodType">Doces</ion-label>
    </ion-segment-button>

  </ion-segment>

  <section class="homeMain">

    <h1 class="homeTitle">Você vai gostar</h1>
    <a class="anchor" href="#">Ver mais</a>

    <div class="card">

      <ion-card>

        <img alt="Foto de uma peça de Hot Philadelphia" src="#" />

        <ion-card-header>
          <ion-card-title>Hot Philadelphia</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Aprenda a fazer um dos pratos da culinária japonesa mais adorados no Brasil.
        </ion-card-content>

      </ion-card>

      <ion-card>

        <img alt="Foto de uma panela com Feijoada" src="#" />
        <ion-card-header>
          <ion-card-title>Feijoada</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Aprenda a fazer o prato que conquista o coração dos Brasileiros, A feijoada.
        </ion-card-content>

      </ion-card>

      <ion-card>

        <img alt="Foto de um Pudim de Leite" src="#" />
        <ion-card-header>
          <ion-card-title>Pudim de Leite</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Aprenda a fazer este delicioso pudim de leite, a sobremesa favorita dos almoços de domingo.
        </ion-card-content>

      </ion-card>
    </div>

  </section>

  <section class="footer">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Achamos que vai gostar</ion-card-title>
        <a class="anchorFooter" href="#">Ver mais</a>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Foto de algum alimento" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Brigadeiro</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Foto de algum alimento" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Torta salgada</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

  </section>






</ion-content>
