.avatar {
  position: relative;
  top: 15px;
  left: 15px;
}

.usernameSalute {
  font-size: 20px;
  position: relative;
  left: 200px;
}

.homeTitle {
  font-size: 20px;
}

.foodType {
  font-size: 10px;
}

.anchor {
  font-size: 14px;
  text-decoration: none;

}

.card {
display: flex;
}


