
*{
    margin-top: 10px;
    font-family: "Abel"
}
.botao-entrar{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
}
.botao-cadastrar{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
}
.title{
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.barra-bottom .barra-botoes{
    margin-bottom:20px
}

.butao{
    display: flex;
    margin-left: 40px;
    height: 100px;
}
