<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Culinária Brasileira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="('tropeiroo')">
      <ion-label>aprenda uma receita de Feijão Tropeiro</ion-label>
    </ion-item>
    <ion-item button (click)="('pato')">
      <ion-label>Uma fácil receita de Pato no Tucupi</ion-label>
    </ion-item>
    <ion-item button (click)="('feijoada')">
      <ion-label>Aquicvoce=ê aprende uma ótima receita de Feijoada</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
