<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Culinária Brasileira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="('tropeiroo')">
      <ion-label>aprenda uma receita de Feijão Tropeiro</ion-label>
    </ion-item>
    <ion-item button (click)="('sashimi')">
      <ion-label>Como cortar Sashimi?</ion-label>
    </ion-item>
    <ion-item button (click)="('hot')">
      <ion-label>Como fazer sushi Hot Philadelphia?</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
