<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Página de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Pagamento</h2>
    <form (submit)="processarPagamento($event)">
      <ion-item>
        <ion-label position="floating">Selecione o Curso</ion-label>
        <ion-select placeholder="Escolha um curso">
          <ion-select-option value="japonesa">Culinária Japonesa</ion-select-option>
          <ion-select-option value="portuguesa">Culinária Portuguesa</ion-select-option>
          <ion-select-option value="brasileira">Culinária Brasileira</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome no Cartão</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número do Cartão</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data de Validade</ion-label>
        <ion-input type="text" placeholder="MM/AA" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Pagar</ion-button>
    </form>
  </div>
</ion-content>
 