.input-nome{
    margin:15px;
    margin-left:50px;
}
.input-numero{
    margin:15px;
    margin-left:50px;
}
.input-validade{
    margin:15px;
    margin-left:50px;
}
.input-cvv{
    margin:15px;
    margin-left:50px;
}
.button-cad{
    margin-top: 100px;
    margin-left:101px;
}
.input-curso{
    margin:15px;
    margin-left:400px;
}