<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title color="danger" class="ion-text-center">!!Manuntenção!! </ion-title>
  </ion-item>

<ion-content></ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon (click)="abrirPagina('home')"name="home"></ion-icon>
Home
  </ion-tab-button>
  <ion-tab-button color="primary" (click)="abrirPagina('cursos')"tab="library">
    <ion-icon name="library"></ion-icon>
    Cursos
  </ion-tab-button>
  <ion-tab-button tab="search">
    <ion-icon name="search"></ion-icon>
    Pesquisar
  </ion-tab-button>
</ion-tab-bar>